/* Global Styles */
body {
  background-color: white;
}

/* Navbar */
.navbar-custom {
  background-color: #007BFF;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: #FFFFFF;
}

/* Table */
.table-custom thead {
  background-color: #007BFF;
  color: #FFFFFF;
}

.table-custom tbody tr:nth-child(odd) {
  background-color: #F8F9FA;
}

.table-custom tbody tr td {
  color: #000000;
}

/* Modals */
.modal-header {
  background-color: #007BFF;
  color: #FFFFFF;
}

.modal-body {
  background-color: #F8F9FA;
  color: #000000;
}

/* Page Wrapper */
.page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Col */
.Col {
  text-align: center;
  margin-top: 20px;
}

/* Index Page Specific Styles */
.index-title {
  margin: 40px 0;
}

.search {
  border-radius: 20px;
  margin: 20px 0;
}

.search input {
  border-radius: 20px;
  height: 50px;
  padding: 8px;
}

.actiontab {
  width: 200px;
}

.tablebutton {
  margin: 0 5px;
}
